@font-face {
    font-family: "Mons";
    src: url(../Montserrat-Medium.ttf) format('truetype');
}
body{
  background: rgb(2, 189, 242);
  font-family: "Mons";
  margin: 0;
  padding-bottom: 10px
}
.top-image{
  max-height: 100%;
}
.sec-par{
  padding-top: 8px;
  padding-bottom: 8px;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#close-btn{
  z-index: 10000;
  position: fixed;
  left: 90%;
}
#close-btn:hover{
  cursor: pointer;
}
li{
  text-indent: 0;
}
#spec{
  line-height: 1.5;
}
#modal-background{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.opened{
  z-index: 99999;
  position: fixed;
}
.gallary-btn{
  background: url(../images/gallary.jpg);
  height: 100px;
  width: 47%;
}

@media screen and (min-width: 1000px){
  .main-header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .top-img{
    max-width: 600px;
  }
  .sec{
    line-height: 2.2;
  }
  .right-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
  }

  .site-title{
    background: url(../images/header-image.jfif);
    width: 600px;
    height: 227px;
  }
  .site-title-description{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 15px;
    bottom: 25px;
    width: 100%;
  }
  .top-image{
    max-width: 50%;
  }
  h1 div{
    display: inline-block;
    color: rgb(0, 8, 193);
    line-height: 80px;
  }
  #main-tag{
    position: relative;
    left: 20px;
  }
  .main-description{
    display: block;
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 35px;
    margin-top: 1rem;
    font-size: 19px;
    letter-spacing: 2px;
  }
  .usual{
    background-color: white;
    margin-right: 65px;
    font-size: 20px;
    text-indent: 35px;
    letter-spacing: 2px;
    color: rgb(106, 97, 188);
    height: 460px;
  }
  .sec{
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  #spec img{
    width: 535px;
  }
  .unusual{
    background-color: white;
    margin-left: 65px;
    font-size: 20px;
    text-indent: 35px;
    letter-spacing: 2px;
    color: rgb(106, 97, 188);
  }
  #last{
    background-color: white;
    font-size: 20px;
    text-indent: 35px;
    letter-spacing: 2px;
    color: rgb(106, 97, 188);
    position: relative;
    line-height: 1.2;
    bottom: 7px;
  }
  ol{
    line-height: 1.3;
  }
  .gallary{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #back-link{
    color: rgba(0, 0, 0, 0.4);
    font-size: 21px;
    margin-left: 30px;
    background-color: inherit;
  }
  #gallary-title{
    font-size: 60px;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .img-gallary{
    width: 28%;
    height: auto

  }
  .line{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
  }
  hr{
    background-color: white;
    width: 800px;
    height: 5px;
    margin: 50px 0;
  }
  @media screen and (max-width: 1085px) {
    .sec{
      line-height: 2.2;
    }
  }
  @media screen and (min-width: 1120px) {
    ol{
      line-height: 1.4;
    }
  }
  @media screen and (min-width: 1150px) {
    ol{
      line-height: 1.5;
    }
  }
  @media screen and (max-width: 1150px) {
    .gallary-btn{
      background: url(../images/gallary-lg.jpg);
    }
  }
  @media screen and (min-width: 1190px) {
    ol{
      line-height: 1.6;
    }
  }
  @media screen and (max-width: 1228px) {
    h1{
      text-align: center;
    }
    #main-body {
      padding-left: 20px;
    }
    #first{
      width: 50%;
    }
    #last-img{
      width: 100%;
    }
    .usual{
      width: 43%;
      height: 460px;
      font-size: 20px;
    }
    .unusual{
      width: 50%;
    }
    #spec img{
      width: 43%;
    }
    .sec{
      justify-content: space-between;
    }
    .right-col{
      width: 50%;
    }
    .opened{
      width: 76%;
      left: 12%;
      top: 2%;
    }
  }
  @media screen and (min-width: 1228.2px){
    .sec img{
      width: 560px;
    }
    .usual{
      width: 535px;
      height: 460px;
      font-size: 20px;
    }
    .unusual{
      width: 600px;
    }
    .sec img{
      width: 600px;
    }
    #spec img{
      width: 535px;
    }
    .right-col{
      width: 600px;
    }
    .opened{
      width: 76%;
      left: 12%;
      top: 0;
    }
  }
  .high .opened{
    width: 38%;
    left: 30.5%;
    bottom: 3%;
  }
  #spec-img{
    bottom: 25px;
  }
}
@media screen and (min-width: 310px) and (max-width: 999.9px){
  #close-btn{
    top: 16%;
    left: 85%;
  }
  .main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-image{
    width: 100%;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-title{
    background: url(../images/header-image.jfif);
    width: 100%;
    height: 227px;
  }
  #main-tag{
    text-align: center;
  }
  p{
    margin-block-start: 0;
    margin-block-end: 0;
  }
  h1 div{
    display: inline-block;
    color: rgb(0, 8, 193);
    line-height: 80px;
  }
  .site-title-description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 25px;
    width: 100%;
  }
  .main-description{
    display: block;
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 35px;
    margin-top: 5rem;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .usual{
    max-width: 100%;
    background-color: white;
    text-indent: 35px;
    letter-spacing: 2px;
    color: rgb(106, 97, 188);
    height: auto;
    margin: 10px 0;
  }

  main img{
      max-width: 100%;
      height: auto;
  }
  #spec{
    display: flex;
    flex-direction: column-reverse;
  }
  .unusual{
    max-width: 100%;
    background-color: white;
    text-indent: 35px;
    letter-spacing: 2px;
    color: rgb(106, 97, 188);
    height: auto;
    margin: 10px 0;
  }
  #last{
    background-color: white;
    margin-bottom: 30px;
  }
  .gallary-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #back-link{
    background-color: inherit;
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    margin-top: 40px;
  }
  .gallary{
    padding: 50px 0;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  #gallary-title{
    font-size: 60px;
    color: white;
  }
  .img-gallary{
    max-width: 80%;
    height: auto;
    padding: 30px 0;
  }
  hr{
    background-color: white;
    width: 80%;
    height: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 601px){
    main img{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
    .usual, .unusual, .main-description, #last{
      max-width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .opened{
    width: 100%;
    left: 10%;
    top: 30%;
  }
  @media screen and (min-width: 310px) {
    .gallary-btn{
      background: url(../images/gallary-xxs.png) no-repeat;
      font-size: 16px;
    }
  }
  @media screen and (min-width: 340px) {
    .gallary-btn{
      background: url(../images/gallary-xs.png) no-repeat;
      font-size: 18px;
    }
  }
  @media screen and (min-width: 400px) {
    .gallary-btn{
      background: url(../images/gallary-s.png) no-repeat;
    }
  }
  @media screen and (min-width: 430px) {
    .gallary-btn{
      background: url(../images/gallary-sm.png) no-repeat;
    }
  }
  @media screen and (min-width: 515px) {
    .gallary-btn{
      background: url(../images/gallary-md-5.png) no-repeat;
    }
  }
  @media screen and (min-width: 565px) {
    .gallary-btn{
      background: url(../images/gallary-md-4.png) no-repeat;
    }
  }
  @media screen and (min-width: 670px) {
    .gallary-btn{
      background: url(../images/gallary-md-3.png) no-repeat;
    }
  }
  @media screen and (min-width: 740px){
    .gallary-btn{
      background: url(../images/gallary-md-2.png) no-repeat;
    }
  }
  @media screen and (min-width: 880px){
    .gallary-btn{
      background: url(../images/gallary-md.png) no-repeat;
    }
  }
}
p{
  padding-left: 25px;
}
.address{
  background-color: white;
  height: 100px;
  width: 47%;
  margin-right: 5px;
}
.phone-number{
  margin-top: 25px;
  text-align: center;
}
a{
  background-color: white;
  line-height: 100px;
  font-size: 22px;
  color: rgb(2, 189, 242);
  text-decoration: underline;
}
#id1{
  transform: rotate(12deg);
  transform-origin: bottom;
}
#id2{
  position: relative;
  top: 15px;
  transform: rotate(3deg);
  transform-origin: bottom;
}
#id3{
  position: relative;
  top: 12px;
  transform: rotate(-4deg);
  transform-origin: bottom;
}
#id4{
  position: relative;
  right: 3px;
  top: 5px;
  transform: rotate(-8deg);
  transform-origin: bottom;
}
#id5{
  position: relative;
  bottom: 5px;
  right: 15px;
  transform-origin: top-left;
  transform: rotate(-10deg);
}
#id6{
  position: relative;
  bottom: 16px;
  right: 20px;
  transform-origin: top-left;
  transform: rotate(-11deg);
}
#id7{
  position: relative;
  bottom: 28px;
  right: 28px;
  transform-origin: top-left;
  transform: rotate(-12deg);
}
#id8{
  position: relative;
  bottom: 36px;
  right: 35px;
  transform-origin: top-left;
  transform: rotate(-15deg);
}
#id9{
  position: relative;
  bottom: 44px;
  right: 44px;
  transform-origin: top-left;
  transform: rotate(-9deg);
}
#id10{
  position: relative;
  bottom: 46px;
  right: 49px;
  transform-origin: top-left;
  transform: rotate(-3deg);
}
#id11{
  position: relative;
  bottom: 46px;
  right: 51px;
  transform-origin: top-left;
  transform: rotate(5deg);
}
#id12{
  position: relative;
  bottom: 46px;
  right: 53px;
  transform-origin: top-left;
  transform: rotate(4deg);
}
#id13{
  position: relative;
  bottom: 43px;
  right: 58px;
  transform-origin: top-left;
  transform: rotate(9deg);
}
#id14{
  position: relative;
  bottom: 40px;
  right: 63px;
  transform-origin: top-left;
  transform: rotate(12deg);
}
#id15{
  position: relative;
  bottom: 33px;
  right: 70px;
  transform-origin: top-left;
  transform: rotate(16deg);
}
@media screen and (max-width: 370px) {
  #id8{
    right: 33px;
    transform: rotate(-13deg);
  }
  #id9{
    right: 41px;
    transform: rotate(-16deg);
  }
  #id10{
    right: 46px;
  }
  #id11{
    right: 49px;
    transform: rotate(3deg);
    bottom: 47px;
  }
  #id14{
    right: 60px;
  }
  #id15{
    right: 65px;
    transform: rotate(16deg);
  }
}
.img-gallary:hover{
  cursor: pointer;
}
.opened:hover{
  cursor: default;
}
